#grid_m {
	/* 	border: 5px solid pink; */
	display: grid;
	grid-template-columns: 75% 25%;
}

body .sec_m {
	margin: 40px 0px 0px 0px;
	padding: 8px 12px 8px 12px;
	border: 5px solid gray;

}

body .as_m {
	margin: 40px 0px 0px 0px;
	padding: 8px 12px 8px 12px;
	/* border: 5px solid gray; */
}

body {
	width: 100%;
}

.vl {
	margin-top: 180px;
	border-left: 3px solid lightgray;
	height: 810px;
	position: absolute;
	left: 74%;
	margin-left: -3px;
	top: 0;
}


/*���̰� �������� ���?, �������� �����ϱ� ���� screen-max�� ������ �Ǿ���.*/
@media screen and (max-width:991px) {
	#grid_m {
		/* 	border: 5px solid pink; */
		display: block;
	}

	.sec_m {
		width: 100%;
		display: block;
	}

	body .as_m {
		padding: 40px 0px 40px 0px;
	}

	#grid_m {
		grid-template-columns: 100%;
	}

	/* �� �߱� ���ֱ� */
	.vl {
		position: none;
		border-left: 0px;
	}


}