/* #mollang_title {
	height: 25px;
}

#btn_space {
	width: 15vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#mollang_btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
} */